<div class='row'>
  <div>
    <button type='button' class="btn btn-success" id="add-table">Create table </button>
  </div>
	<button type='button' class="btn btn-danger" id="delete-bdd">Delete </button>
  <button type='button' class="btn btn-warning" id="rename-bdd">Rename </button>
</div>
<div id="dialog-confirm-delete" title="Basic dialog">
	<p><span class="ui-icon ui-icon-alert"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<div id="dialog-confirm-rename" title="Basic dialog">
  <p><span class="ui-icon ui-icon-alert"></span>This functionality is unavailable<br>it's coming soon</p>
</div>
<table class="table table-inverse table-hover table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th id="nbTable">Table (0)</th>
      <th>Creation date</th>
    </tr>
  </thead>

  <tbody id="tableau">
  </tbody>

</table>
<input type="hidden" name="bddName" value=""/>