<!-- Wrapper start -->
<div id="wrapper">

    <!-- Sidebar start -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="index.php">HOME</a></li>
            <?php foreach($dbnames as $key => $dbname): ?>
                <li><a href="#"><?= $dbname[0] ?></a></li>
            <?php endforeach; ?>
        </ul>
    </div>
    <!-- End Sidebar -->

    <!-- Page Content start -->
    <div id="dialog-confirm-add" title="Basic dialog">
        <p><span class="ui-icon ui-icon-alert"></span>This item has been added ;)</p>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>My_phpmyadmin</h1>
            <p>Phmyadmin</p>
            <div class='row'>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Databases</a>
                <div class='row' id="add-bdd-div">
                    <a href="#" class="btn btn-primary" id="add-bdd">Add new bdd</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Content -->

</div>
<!-- End wrapper -->

<!-- Scripts -->
<script src='app/view/js/index.js'></script>
<script src='app/view/js/scripts.js'></script>