<table class="table tabletable">
  <div class='row'>
    <div>
      <button type='button' class="btn btn-success" id="add-content-table">Create content</button>
    </div>
    <button type='button' class="btn btn-danger" id="delete-content-bdd">Delete </button>
    <button type='button' class="btn btn-warning" id="rename-content-bdd">Rename </button>
  </div>
  <thead class="thead-dark">
    <tr>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<input type="hidden" name="bddNameTwo" value=""/>
<input type="hidden" name="tableName" value=""/>