body {
    margin: 15px 15px 15px 15px;
    background-color: #FCFDFD;
}

h1 {
    padding-left: 25px;
    display: inline-block;
    font-weight: bold;
}

h2 {
    padding-left: 25px;
    display: inline-block;
    font-weight: bold;
}

h3 {
    padding-left: 15px;
    display: inline-block;
    font-weight: bold;
}

h4 {
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
}

li {
    font-weight: bold;
    line-height: 150%;
}

pre {
    border: 1px solid black;
    padding: 2px;
    margin: 10px 0;
    white-space: inherit;
    background-color: #000;

}

pre > code {
    color: #fff;
}

ul.normal, ol.normal {
    margin-left: -20px;
}

.normal li {
    font-weight: normal;
}

.fa {
    color: white;
    font-size: 38px;
}

.alert,
.panel {
    border: transparent;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(57,65,71,0.39);
    -moz-box-shadow: 1px 1px 2px 1px rgba(57,65,71,0.39);
    box-shadow: 1px 1px 2px 1px rgba(57,65,71,0.39);
}

/* Panel global */
.panel > .panel-heading {
    padding: 1.7em;
}
.panel > .panel-heading * {
    padding: 0;
    margin: 0;
}
.panel > .panel-heading *:nth-child(2) {
    padding-left: 25px;
}
.panel > .panel-heading p {
    display: inline;
    padding-left: 7px;
    font-style: italic;
    font-size: 18px;
}

/* Panel Primary */
.panel-primary > .panel-heading .fa {
    font-size: 30px;
}
.panel-primary > .panel-heading > h4 + p {
    padding-left: 7px;
    font-style: italic;
    font-size: 18px;
    display: inline;
}

/* Panel Danger */
.panel-danger > .panel-heading {
    background-color: #FD6767;
    color: #394147;
}
.panel-info > .panel-heading .fa,
.panel-danger > .panel-heading .fa {
    font-size: 29px;
}

/* Panel Infos */
.panel-info > .panel-heading {
    background-color: #ace3ff;
    color: #394147;
}

/* Panel Warning */
.panel-warning > .panel-heading {
    background-color: #fdd767;
    color: #394147;
}
.panel-warning > .panel-heading .fa {
    font-size: 27px;
}

/* Panel Questions, etc */
.panel-default > .panel-heading {
    padding: 1.3em;
    background-color: #4e4e4e;
    color: #fff;
}
.panel-default > .panel-heading .fa {
    font-size: 27px;
}
.panel-default > .panel-heading h4 {
    font-size: 21px;
}

/* Panel project */
.panel-project > .panel-heading {
    color: #ffffff;
    background-color: #22ad54;
}

/* Panel success */
.panel-success > .panel-heading {
    background-color:#319c5e;
    color:#fff;
}

.panel-body {
    background-color: white;
}

ul.normal {
    margin-left: -20px;
}

.normal li {
    font-weight: normal;
}

@media (min-width: 900px) {
    .panel-primary > .panel-heading {
        background: url('sujet-html/banniereETNA.png');
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 500px;
        background-color: #337ab7;
    }
}
