.tabletable {
	margin-top: 5vh;
}

#delete-bdd, #rename-bdd, #add-table {
 	margin-bottom: 5vh;
}

#dialog-confirm-delete, #dialog-confirm-add, #dialog-confirm-rename {
	display: none;
}

.container-fluid > div {
    justify-content: space-around;
}